# PharmaCare Environment Variables
APP_SECRET=ตั้งรหัสลับตรงนี้
TELEGRAM_BOT_TOKEN=8938366177:AAHhoo-Lde38Afcge7v24ls3s6qciALDFCU
TELEGRAM_CHAT_ID=8308720014
FORTE_USERNAME=your_forte_username
FORTE_PASSWORD=your_forte_password
